/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: $primary-color; 
}
a:hover {
  color: $secondary-color; 
}


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  border: none;
  display: inline-block;
  padding: 1rem;
  color: #2C2D48;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    color: $primary-color;
    outline: 0;
    border-width: 2px;
  }

  &:focus {
    color: #ffffff;
    background-color: $secondary-color;
    outline: 0;
    border-color: $primary-color;
    border-width: 2px;
  }

  &.button-primary {
    color: #FFF;
    background-color: $primary-color;

    &:active {
      background-color: darken($secondary-color, 5%);
    }

    &:hover {
      color: #FFF;
      background-color: $secondary-color;
    }

    &:focus {
      color: #FFF;
      background-color: $secondary-color;
      border-color: $primary-color;
      border-width: 2px;
    }
  }

  & .icon {
    margin-bottom: -1px;
    margin-right: .25rem;
    fill: #fff;
  }

}