.checkin {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: $border-style;
  box-sizing: border-box;
  border-radius: $radius;
  box-shadow: 0 0 1rem #DED3C9;
  width: 100%;
  max-width: 384px;

  &__header {
    padding: 1rem 1rem .5rem;
    display: flex;
    flex-direction: row;

    img {
      border-radius: $radius;
      margin-right: 1rem;
      width: 100%;
      max-width: 100px;
    }

    h5, h6 {
      margin-bottom: 0;
    }
  }

  &__body {
    padding: .5rem 1rem 2rem;
    flex-basis: 100%;

    p {
      margin: 0;
    }
  }

  &__footer {
    display: flex;
    flex-direction: row;
    font-size: .75rem;
    border-top: $border-style;
    bottom: 0;

    .abv {
      margin-right: 1rem;
      padding: .5rem 1rem;
      border-right: $border-style;
    }

    .checkin-date {
      margin-left: 1rem;
      padding: .5rem 1.125rem;
      border-left: $border-style;
    }

    .rating {
      display: flex;
      align-items: center;
      position: relative;

      &::before {
        content: url(../assets/rating/empty.svg) "\00a0\00a0" url(../assets/rating/empty.svg) "\00a0\00a0" url(../assets/rating/empty.svg) "\00a0\00a0" url(../assets/rating/empty.svg) "\00a0\00a0" url(../assets/rating/empty.svg);
      }

      &__inner {
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        width: 0;
        left: 0;
          
          &::before {
            content: url(../assets/rating/filled.svg) "\00a0\00a0" url(../assets/rating/filled.svg) "\00a0\00a0" url(../assets/rating/filled.svg) "\00a0\00a0" url(../assets/rating/filled.svg) "\00a0\00a0" url(../assets/rating/filled.svg);
          }
      }
    }
  }
}