.checkin {
  background-color: #ffffff;
  border: $border-style;
  box-sizing: border-box;
  border-radius: $radius;
  box-shadow: 0 0 1rem #DED3C9;
  width: 100%;
  max-width: 384px;

  &__header {
    padding: 1rem 1rem .5rem;
    display: flex;
    flex-direction: row;

    img {
      border-radius: $radius;
      margin-right: 1rem;
    }

    h5, h6 {
      margin-bottom: 0;
    }
  }

  &__body {
    padding: .5rem 1rem 2rem;

    p {
      margin: 0;
    }
  }

  &__footer {
    display: flex;
    flex-direction: row;
    font-size: .75rem;
    border-top: $border-style;

    div {
      padding: .5rem;
      border-right: $border-style;
      flex: 2 1 auto;
      display: flex;
      justify-content: center;

      &:last-child {
        border-right: none;
      }
    }

    .rating {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        float: left;
        margin-right: .5rem;
        margin-top: .125rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}