.hero {
  margin: 24px 0;

  div.row {
    display: flex;
    justify-content: space-between;

    .columns {
      display: flex;

      &:last-child {
        margin-left: auto;
      }
  
      & > div {
        align-self: center;
      }
    } 

  }
  

  &__content h3 {
    font-style: italic;
  }

  &__content h1 {
    margin-bottom: 1rem;
  }

  .powered {
    margin-left: .5rem;
    
      & img {
        width: 100%;
        max-width: 128px;
      }
    
  }
}