.hero {
  margin-bottom: 3rem;
  overflow: hidden;
  display: flex;
  justify-content: center;

  @include media('xl') { 
    justify-content: space-between;
  }

  &__content {
    width: 100%;
    text-align: center;
    align-self: center;
    max-width: 768px;
    
    @include media('xl') { 
      text-align: left;
      max-width: 624px;
    }
    

   & h3 {
      font-style: italic;
    }

    & h1 {
      margin-bottom: 1rem;
    }
  }   

  .latest {
    display: none;

    @include media('xl') {
      display: block;
    }
  }
  

  .powered {
    margin-left: .5rem;
    
      & img {
        width: 100%;
        max-width: 128px;
      }
    
  }
}