.hero {
  margin-bottom: 3rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  &__content {
    width: 100%;
    max-width: 624px;
    align-self: center;

   & h3 {
      font-style: italic;
    }

    & h1 {
      margin-bottom: 1rem;
    }
  }   

  .latest {
    float: right;
  }

  .powered {
    margin-left: .5rem;
    
      & img {
        width: 100%;
        max-width: 128px;
      }
    
  }
}