.main-header {
  background-color: #EDDFD1;
  padding: 2rem 0;
  margin-bottom: 3.375rem;
  
  & .container {
    display: flex;
    flex-direction: column;

    @include media('sm') {
      flex-direction: row;
      justify-content: space-between;
    }

  }

  .logo {
    align-self: center;

    @include media('sm') {
      align-self: flex-start;
    }
  }

  .nav {
    align-self: center;

    ul {
      list-style: none;
      font-size: 1.125rem;
      font-weight: 700;
      margin-top: 1rem;
      padding-top: .75rem;
      border-top: $border-style;
      overflow: hidden;

      @include media('sm') {
        margin: 0;
        padding: 0;
        border-top: none;
      }
    }

    &__link {
      float: left;
      margin: 0 .5rem;

      @include media('sm') {
        &:last-child {
          margin-right: 0;
        }
      }

      a {
        text-decoration: none;
      }
    }
  }
}