.main-header {
  background-color: #EDDFD1;
  padding: 32px 0;
  margin-bottom: 54px;

  & .row {
    display: flex;

    & > .column:last-child {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .nav {
    align-self: flex-end;

    ul {
      list-style: none;
      font-size: 1.125rem;
      font-weight: 700;
      margin: 0;
    }

    &__link {
      float: left;
      margin: 0 .5rem;

      &:last-child {
        margin-right: 0;
      }

      a {
        text-decoration: none;
      }
    }
  }
}