.profile {
  display: none;
  
    @include media('xl') {
      margin-bottom: 2.5rem;
      display: flex;
      flex-direction: row;
      background-color: #ffffff;
      border: $border-style;
      border-radius: $radius;
      box-sizing: border-box;
    }

  &__info {
    display: flex;
    flex-direction: row;
    flex: 1 1 318px;
    box-sizing: border-box;
    border-right: $border-style;

    & > div {
      align-self: center;
      margin: 0 1.5rem 0 1rem;
    }

    h4, p {
      margin-bottom: 0;
    }
  }

 &__stats, &__social {
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    box-sizing: border-box;

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      margin: 0;
      padding: 0;
      align-items: center;
    }

  }

  &__stats {
    border-right: $border-style;
    flex: 2 1 512px;

    li {
      padding: 0 1.65rem;
      text-align: center;
      font-family: $header-font;
    }

    &--number {
      font-family: $body-font;
      font-size: 2rem;
      font-weight: 700;
      display: block;
      margin-top: -.5rem;
      clear: left;
    }
  }

  &__social {
      flex: 1 1 381px;

      li { 
        padding: 0 1.125rem;
      }
  }

}