/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */≈
html {
  font-size: 16px; 
}

body {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  font-family: $body-font;
  color: $primary-color; 
  background-color: #F8EFE7;
}

main {
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1216px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box; 
}