// ===================================================================
//	Variables
// ===================================================================
// Colors
$primary-color: #2C2D48;
$secondary-color: #FFC000;


// Media Query Breaks Points
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;
$break-xxl: 1640px;